embedding:
  provider: openrouter
  model_config: sentence-transformers/all-mpnet-base-v2
  embedding_dim: 768

inference:
  provider: openrouter
  model_config: openai/gpt-oss-120b:free

vector_store:
  table_name: embeddings
  hybrid_search: true
  chunk_size: 512
  chunk_overlap: 50
  hnsw:
    hnsw_m: 16
    hnsw_ef_construction: 64
    hnsw_ef_search: 40
    hnsw_dist_method: vector_cosine_ops
